# API PocketBase Reverse Proxy
{$DOMAIN_API} {
    reverse_proxy pocketbase:8090

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }
}

# Evolution API Reverse Proxy
{$DOMAIN_EVO} {
    reverse_proxy evolution-go:8080
}


